
#first-menu{
    z-index: 1021;
    .navbar-brand{
        width: 100px;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

#second-menu{
    margin-bottom: 15px;
    padding-bottom: 0px;
    .nav-item{
        &.active{
            border-bottom: 3px solid $blue;
            .nav-link{
                color: $blue;
            }
        }
    }
}

.scale{
    &:hover{
        transform-origin: left;
        animation: scale 0.2s forwards;
    }
}

.centred{
    position: absolute !important;
    top: 0px !important;
    right: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
    padding-top: 200px;
}

#form-container > .card{
    width: 360px;
    margin: auto;
}

.page-header h3{
    text-transform: uppercase;
    color: $halfTrans;

}

.trigger-options:hover .options-hover{
    visibility: visible;
    opacity: 1;
}

.options-hover{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.options-hover > *{
    color: $light;
    cursor: pointer;
    margin: 0 4px;
    &:hover{
        color: rgb(150, 150, 150);
    }
}


#campaign-steps-container{
    padding: 15px;
}

#click-to-add{
    border: 2px dashed #aaa;
    border-radius: 15px;
    padding: 10px;
    color: #aaa;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
    display: none;
}

#campaign-steps-ul > .step{
    background-color: white;
    list-style-type: none;
    border: 1px solid #3777a2;
    padding: 10px;
    margin-bottom: 5px;
}

#campaign-steps-ul > .step > .step-options{
    display: none;
}

#campaign-steps-ul > .step:hover > .step-options{
    display: flex;
}

#campaign-steps-ul > .step > .step-handle{
    position: absolute;
    padding: 6px 8px;
    z-index: 10;
    background-color: #4294cc;
    color: white;
    cursor: move;
    top: 25px;
    right: -26px;
}

#campaign-steps-ul > .step > .step-delete{
    position: absolute;
    padding: 6px 8px;
    z-index: 10;
    background-color: #cf4141;
    color: white;
    cursor: pointer;
    top: -1px;
    right: -26px;
}

#campaign-steps-ul > .step > .add-step-before{
    position: absolute;
    border-radius: 25px;
    padding: 6px 8px;
    text-align: center;
    width: 30px;
    z-index: 10;
    background-color: #ecb45f;
    color: white;
    cursor: pointer;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -14px;
}

#campaign-steps-ul > .step > .add-step-after{
    position: absolute;
    border-radius: 25px;
    padding: 6px 8px;
    text-align: center;
    width: 30px;
    z-index: 10;
    background-color: #ecb45f;
    color: white;
    cursor: pointer;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -14px;
}

#page-container{
    background-color: white;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
}

#page .form-element:hover, #page .form-element.active{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    border-radius: 4px;
}
#page li.active{
    box-shadow: 0 0 0 0.5rem rgba(88, 88, 88, 0.25);
    border-radius: 4px;
}
#page .form-element{
    position: relative;
}
#page .form-element .options{
    position: absolute;
    right: -36px;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
    width: 32px;
    z-index: 9;
}
#page .form-element .options:hover{
    opacity: .6;
}
#page .form-element .options.move{
    top: 0;
    background-color: #8be4aa;
    color: white;
    cursor: move;
    display: none;
}
#page .form-element .options.config{
    top: 0;
    background-color: #3787d1;
    color: white;
    cursor: pointer;
}
#page .form-element .options.delete{
    top: 36px;
    background-color: #cf4141;
    color: white;
    cursor: pointer;
}
#page li{
    position: relative;
}
#page li .rowOptions{
    position: absolute;
    left: -36px;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
    width: 32px;
    background-color: #747474;
    color: white;
    z-index: 9;
}
#page li .rowOptions:hover{
    opacity: .6;
}
#page li .rowOptions.move{
    top: 0;
    cursor: move;
}
#page li .rowOptions.config{
    top: 36px;
    cursor: pointer;
}
#page li .rowOptions.delete{
    top: 72px;
    cursor: pointer;
}