<template>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-dark">Filtre</li>
                <li v-for="filterItem in filterItems" :key="filterItem.uniqid" class="list-group-item">
                    <span>{{ filterItem.name }}</span>
                    <div class="custom-control custom-checkbox float-right">
                        <input 
                            type="checkbox" 
                            class="custom-control-input" 
                            :id="'customCheck' + filterItem.uniqid" 
                            @click="activeFilter" 
                            :value="filterItem.uniqid"
                            :checked="filter[filterItem.uniqid].length > 0"
                        >
                        <label class="custom-control-label" :for="'customCheck' + filterItem.uniqid"></label>
                    </div>
                    <div style="margin-top:10px;" class="filterOptions" v-if="filter[filterItem.uniqid].length > 0">
                        <div class="filter-row" v-for="(row, k) in filter[filterItem.uniqid]" :key="k">
                            <i 
                                class="fas fa-times deleteRow"
                                @click="deleteRow(filterItem.uniqid, k)"
                            ></i>
                            <div class="form-group" v-if="!filterItem.list">
                                <select class="custom-select" v-model="row.option" @change="getSubs">
                                    <option value="has" >Contient</option>
                                    <option value="startwith">Commence par</option>
                                    <option value="endwith">Se termine par</option>
                                    <option value="equalto">Egale à</option>
                                </select>
                            </div>
                            <div class="form-group" v-else>
                                <select class="custom-select" v-model="row.option" @change="getSubs">
                                    <option value="has">Appartient</option>
                                    <option value="hasnt">N'appartient pas</option>
                                </select>
                            </div>
                            <div class="form-group" v-if="!filterItem.list">
                                <input type="text" class="form-control" placeholder="Valeur" v-model="row.value" @blur="getSubs">
                            </div>
                            <div class="form-group" v-else>
                                <select class="custom-select" v-model="row.value" @change="getSubs">
                                    <option v-for="data in getComputedElement(filterItem.data)" :key="data.id" :value="data.id">{{ data.name }}</option>
                                </select>
                            </div>
                            <hr>
                        </div>
                        <button 
                            type="button" 
                            class="btn btn-primary btn-block" 
                            @click="addRow(filterItem.uniqid)"
                        >Ajouter un filtre</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="table-responsive shadow">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Email</th>
                            <th>Tags</th>
                            <th>Formulaires</th>
                            <th>Formations</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="row in subscribers" :key="row.i" class="trigger-options">
                            <td><a :href="'subscribers/'+row.id+'/edit'">{{ row.email }}</a></td>
                            <td>
                                <h5>
                                    <span v-for="tag in row.owned_tags" :key="tag.id" class="badge badge-primary">{{ tag.name }}</span>
                                </h5>
                            </td>
                            <td>
                                <h5>
                                    <span v-for="form in row.owned_forms" :key="form.id" class="badge badge-primary">{{ form.name }}</span>
                                </h5>
                            </td>
                            <td>
                                <h5>
                                    <span v-for="formation in row.owned_formations" :key="formation.id" class="badge badge-primary">{{ formation.name }}</span>
                                </h5>
                            </td>
                            <td>
                                <div class="options-hover float-right">
                                    <a data-toggle="tooltip" data-placement="top" title="Queue" :href="'queues/subscriber/'+row.id"><i class="fas fa-layer-group text-dark"></i></a>
                                    <a :href="'subscribers/'+row.id+'/edit'"><i class="fas fa-edit text-dark"></i></a>
                                    <i class="fas fa-trash-alt delete-submit-form text-dark"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <paginate
                    v-model="pagination.page"
                    :page-count="pagination.lastPage"
                    prev-text="«"
                    next-text="»"
                    container-class="pagination justify-content-center"
                    page-class="page-item"
                    prev-class="page-item"
                    next-class="page-item"
                    page-link-class="page-link"
                    prev-link-class="page-link"
                    next-link-class="page-link"
                >
                </paginate>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                pagination: {
                    page: 1,
                    perPage: 10,
                    lastPage: 1
                },
                filter: {
                    email: [],
                    tag: [],
                    form: [],
                    formation: []
                },
                filterItems: [
                    {
                        name: 'Email',
                        uniqid: 'email',
                        list: false
                    },
                    {
                        name: 'Tag',
                        uniqid: 'tag',
                        list: true,
                        data: 'tags'
                    },
                    {
                        name: 'Formulaire',
                        uniqid: 'form',
                        list: true,
                        data: 'forms'
                    },
                    {
                        name: 'Formation',
                        uniqid: 'formation',
                        list: true,
                        data: 'formations'
                    }
                ]
            }
        },
        created() {
            this.getSubs()
            this.getTags()
            this.getForms()
            this.getFormations()
        },
        computed: {
            subscribers(){
                return this.$store.getters.subscribers
            },
            tags(){
                return this.$store.getters.tags
            },
            forms(){
                return this.$store.getters.forms
            },
            formations(){
                return this.$store.getters.formations
            },
            page(){
                return this.pagination.page
            },
            perPage(){
                return this.pagination.perPage
            },
            emailFilter(){
                return this.filter.email
            },
            tagFilter(){
                return this.filter.tag
            },
            formFilter(){
                return this.filter.form
            },
            formationFilter(){
                return this.filter.formation
            }
        },
        watch: {
            page(){
                this.getSubs()
            },
            perPage(){
                this.getSubs()
            },
            emailFilter(){
                this.getSubs()
            },
            tagFilter(){
                this.getSubs()
            },
            formFilter(){
                this.getSubs()
            },
            formationFilter(){
                this.getSubs()
            }
        },
        methods: {
            getSubs(){
                const payload = {
                    pagination: this.pagination,
                    filter: this.filter
                }
                this.$store.dispatch('GetSubscribers', payload)
                    .then(result => {
                        this.pagination.lastPage = result.last_page
                    })
                    .catch(error => {
                        console.error(error)
                    })
            },
            getTags(){
                this.$store.dispatch('GetTags')
            },
            getForms(){
                this.$store.dispatch('GetForms')
            },
            getFormations(){
                this.$store.dispatch('GetFormations')
            },
            addRow(uniqid){
                const data = {
                    option: 'has',
                    value: '',
                }
                this.filter[uniqid].push(data)
            },
            deleteRow(uniqid, key){
                const deleted = this.filter[uniqid].splice(key, 1)
                console.log(deleted)
            },
            deleteAllRows(uniqid){
                this.filter[uniqid] = []
            },
            activeFilter(e){
                if(e.target.checked){
                    this.addRow(e.target.value)
                } else {
                    this.deleteAllRows(e.target.value)
                }
            },
            getComputedElement(data){
                return this[data]
            }
        }
    }
</script>

<style scoped>
    .deleteRow {
        position: absolute;
        right: 5px;
        cursor: pointer;
        color: gray;
    }
    .deleteRow:hover{
        color: black;
    }
</style>