/*
body{
    font-family: 'Muli', sans-serif;
    color: #7c7c7c;
    background-color: #f2f7fb;
}
header{
    margin-bottom: 25px;
}
.bg-primary-theme{
    color: white;
    background-color: #4294cc;
    border-color: #3777a2;
}
.bg-primary-theme:hover{
    color: white;
    background-color: #3777a2;
}
.btn-flat{
    border-radius: 0;
}
#top-menu{
    width: 100%;
}
#top-menu #primary-menu{
    background-color: #4294cc;
}
#top-menu #primary-menu .nav-link, #top-menu #primary-menu .navbar-brand{
    color: white;
}

#top-menu #primary-menu .nav-link i{
    display: block;
}

#top-menu #primary-menu .mr-auto .nav-item{
    padding: .2rem;
    text-align: center;
}
#top-menu #primary-menu .mr-auto .nav-item .nav-link:hover, #top-menu #primary-menu .mr-auto .nav-item.active .nav-link{
    cursor: pointer;
    background-color: #3777a2;
    border-radius: 6px;
}
#page-title{
    font-size: 24px;
    text-transform: uppercase;
    color: #656565;
    font-weight: lighter;
    letter-spacing: 4px;
}
#main-title{
    margin: 20px 0px;
}
.options-hover{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
td>.options-hover{
    color: #4294cc;
}
.trigger-options:hover .options-hover{
    visibility: visible;
    opacity: 1;
}
.options-hover *, .options-hover *:hover{
    color: inherit;
    display: inline-block;
    cursor: pointer;
    padding: 0px 2px;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #4294cc;
}
#alert-msg{
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
}
.tag{
    border: 1px solid #3777a2;
    color: #3777a2;
    padding: 5px;
    border-radius: 25px;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0px;
}
.page-item.active .page-link{
    background-color: #4294cc;
    border-color: #3777a2;
}
.tagged{
    background-color: #4294cc;
    border-color: #3777a2;
    color: white;
}
.card{
    margin-bottom: 20px;
}
#page-container{
    background-color: white;
    width: 690px;
    margin-left: auto;
    margin-right: auto;
}
#toolkit{
    width: 300px;
    position: fixed;
    display: inline-block;
    left: 0;
    background-color: white;
    z-index: 10;
}
#toolkit > #toolkit-header{
    margin-bottom: 10px;
    vertical-align: middle;
    position: relative;
    width: 100%;
}
#toolkit > #toolkit-header > #toolkit-header-title, #toolkit > #toolkit-header > #toolkit-header-close{
    display: inline-block;
    padding: 10px;
}
#toolkit > #toolkit-header > #toolkit-header-close{
    padding: 10px 16px;
    cursor: pointer;
}
#toolkit > #toolkit-body{
    border-top: 3px solid #3777a2;
}
.list-group-item-custom{
    background-color: white;
    vertical-align: middle;
    border: 1px solid #3777a2;
    list-style-type: none;
    cursor: move;
}
.list-group-item-custom:not(.ui-draggable-dragging){
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}
.list-group-item-custom > .toolkit-icon, .list-group-item-custom > .toolkit-text{
    display: inline-block;
    padding: 13px;
    vertical-align: middle;
}
.list-group-item-custom > .toolkit-icon{
    background-color: #4294cc;
    color: white;
    width: 60px;
}
.list-group-item-custom:not(.ui-draggable-dragging):hover
{
    box-shadow: 0px 0px 10px #4294cc;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.02);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.02);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.02);
    transition: all 200ms ease-in;
    transform: scale(1.02);
}
.ui-draggable-dragging {
    z-index: 99999;
    width: 300px;
    opacity: 0.6;
}
.ui-state-highlight{
    height: 62px;
}
#page .form-element:hover, #page .form-element.active{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    border-radius: 4px;
}
#page li.active{
    box-shadow: 0 0 0 0.5rem rgba(88, 88, 88, 0.25);
    border-radius: 4px;
}
#page .form-element{
    position: relative;
}
#page .form-element .options{
    position: absolute;
    right: -36px;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
    width: 32px;
    z-index: 9;
}
#page .form-element .options:hover{
    opacity: .6;
}
#page .form-element .options.move{
    top: 0;
    background-color: #8be4aa;
    color: white;
    cursor: move;
    display: none;
}
#page .form-element .options.config{
    top: 0;
    background-color: #3787d1;
    color: white;
    cursor: pointer;
}
#page .form-element .options.delete{
    top: 36px;
    background-color: #cf4141;
    color: white;
    cursor: pointer;
}
#page li{
    position: relative;
}
#page li .rowOptions{
    position: absolute;
    left: -36px;
    border-radius: 25px;
    padding: 8px;
    text-align: center;
    width: 32px;
    background-color: #747474;
    color: white;
    z-index: 9;
}
#page li .rowOptions:hover{
    opacity: .6;
}
#page li .rowOptions.move{
    top: 0;
    cursor: move;
}
#page li .rowOptions.config{
    top: 36px;
    cursor: pointer;
}
#page li .rowOptions.delete{
    top: 72px;
    cursor: pointer;
}
#config{
    display: none;
    width: 400px;
    position: fixed;
    right: 0;
    z-index: 10;
    background-color: white;
}
#config > #config-header{
    vertical-align: middle;
    position: relative;
    width: 100%;
}
#config > #config-header > #config-header-title, #config > #config-header > #config-header-close{
    display: inline-block;
    padding: 10px;
}
#config > #config-header > #config-header-close{
    padding: 10px 16px;
    cursor: pointer;
}
#config > #config-body{
    padding: 10px;
    border-top: 3px solid #3777a2;
}
#show-toolkit{
    position: fixed;
    top: 100px;
    color: white;
    background-color: #4294cc;
    padding: 10px 20px 10px 30px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
    display: none;
}
#show-toolkit:hover{
    background-color: #3777a2;
}
.ui-sortable-placeholder{
    background-color: #b1d5f7;
    border: 2px solid #4294cc;
    border-radius: 4px;
    list-style-type: none;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}

.card .card-header .card-title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 4px;
}

.primary-card .card-header{
    background-color: #4294cc;
    color: white;
}

.primary-card{
    border: 1px solid #4294cc;
}

.dataTables_length .custom-select, .dataTables_filter input{
    width: auto;
    display: inline-block;
}

.datatable th{
    border-top: none;
    border-bottom: none !important;
    padding-right: 6px;
    position: relative;
    cursor: pointer;
}

.datatable.border-rounded{
    border-collapse: initial;
    border-spacing: 0;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}

.datatable.border-rounded thead{
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
}

.datatable.border-rounded tbody{
    border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
}

.datatable.primary-table{
    border: 1px solid #3777a2;
    box-shadow: 0px 6px 12px #3777a2a6;
}

.datatable.primary-table thead{
    background-color: #4294cc;
    color: white;
}

.datatable.primary-table thead th:hover{
    background-color: #3777a2;
}

.datatable.primary-table tbody tr:hover{
    background-color: #e5f5ff;
}

.datatable.primary-table td, .datatable.primary-table th{
    vertical-align: middle;
}

.datatable .sorting:after {
    content: "\f0dc";
    font-family: "Font Awesome 5 Free";
    float: right;
}
.datatable .sorting_asc:after {
    content: "\f0de";
    font-family: "Font Awesome 5 Free";
    float: right;
}
.datatable .sorting_desc:after {
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    float: right;
}
.trigger-params-container{
    display: none;
}

@media (max-width: 991px){
    #collapsemenu{
        position: absolute;
        z-index: 1000;
        background-color: rgb(66, 148, 204);
        left: 0px;
        top: 55px;
        width: 180px;
        border: 1px solid rgb(55, 119, 162);
        border-bottom-right-radius: 10px;
    }
}

#campaign-steps-container{
    padding: 15px;
}

#click-to-add{
    border: 2px dashed #aaa;
    border-radius: 15px;
    padding: 10px;
    color: #aaa;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
    display: none;
}

#campaign-steps-ul > .step{
    background-color: white;
    list-style-type: none;
    border: 1px solid #3777a2;
    padding: 10px;
    margin-bottom: 5px;
}

#campaign-steps-ul > .step > .step-options{
    display: none;
}

#campaign-steps-ul > .step:hover > .step-options{
    display: flex;
}

#campaign-steps-ul > .step > .step-handle{
    position: absolute;
    padding: 6px 8px;
    z-index: 10;
    background-color: #4294cc;
    color: white;
    cursor: move;
    top: 25px;
    right: -26px;
}

#campaign-steps-ul > .step > .step-delete{
    position: absolute;
    padding: 6px 8px;
    z-index: 10;
    background-color: #cf4141;
    color: white;
    cursor: pointer;
    top: -1px;
    right: -26px;
}

#campaign-steps-ul > .step > .add-step-before{
    position: absolute;
    border-radius: 25px;
    padding: 6px 8px;
    text-align: center;
    width: 30px;
    z-index: 10;
    background-color: #ecb45f;
    color: white;
    cursor: pointer;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -14px;
}

#campaign-steps-ul > .step > .add-step-after{
    position: absolute;
    border-radius: 25px;
    padding: 6px 8px;
    text-align: center;
    width: 30px;
    z-index: 10;
    background-color: #ecb45f;
    color: white;
    cursor: pointer;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -14px;
}
.formation-thumbnail{
    display: inline-block;
    width: 150px;
    height: 100px;
}



#left ul.nav {
    margin-bottom: 2px;
    font-size: 12px; 
}
#left ul.nav ul,
#left ul.nav ul li {
    list-style: none!important;
    list-style-type: none!important;
    margin-top: 1px;
    margin-bottom: 1px;
}
#left ul.nav ul {
    padding-left: 0;
    width: auto;
}
#left ul.nav ul.children {
    padding-left: 12px;
    width: auto;
}
#left ul.nav ul.children li{
    margin-left: 0px;
}
#left ul.nav li a:hover {
    text-decoration: none;
}

#left ul.nav li a:hover .lbl {
    color: #999!important;
}

#left ul.nav li.current>div .lbl {
    background-color: #999;
    color: #fff!important;
}

#left ul.nav li.parent{
    width:100%;
}

#left ul.nav .module .chapter .sign{
    color: #4294cc;
}

#left ul.nav .module .chapter.active{
    background-color: #4294cc!important;
}

#left ul.nav .module .chapter.active span, #left ul.nav .module .chapter a:hover span{
    color: white!important;
}


#left ul.nav>li.parent>a {
    border: solid 1px #999;
    text-transform: uppercase;
    display: block;
}
#left ul.nav li.parent a:hover {
    background-color: #fff;
    -webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
}


#left ul.nav li.parent ul li a {
    color: #222;
    border: none;
    display:block;
    padding-left: 5px;
}

#left ul.nav li.parent ul li a:hover {
    background-color: #4294cc;
    color: white;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}


#left ul.nav li .sign {
    width: 14px;
    padding: 8px 10px;
    background-color: transparent;
    color: #fff;
}
#left ul.nav li.parent>a>.sign{
    margin-left: 0px;
    background-color: #999;
    cursor: pointer;
}


#left ul.nav li .lbl {
    padding: 5px 12px;
    display: inline-block;
}
#left ul.nav li.current>a>.lbl {
    color: #fff;
}
#left ul.nav  li a .lbl{
    font-size: 12px;
}


#left ul.nav>li.module.parent>div {
    border: solid 1px #4294cc;
}
#left ul.nav>li.module.parent>div>.sign,
#left ul.nav>li.module li.parent>span>.sign{
    margin-left: 0px;
    background-color: #4294cc;
}
#left ul.nav>li.module .lbl {
    color: #4294cc;
}
#left ul.nav>li.module li.current>div .lbl {
    background-color: #4294cc;
    color: #fff!important;
}

#formation-header{
    background-color: #4294cc;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
}
#formation-title{
    border: 1px solid #3777a2;
    background-color: #4294cc;
    color: white;
    padding: 10px;
    position: relative;
    display: block;
}
.profil-photo{
    width: 100px;
    height: 100px;
}
.formation-title{
    text-align: center;
    margin: 10px 0px;
}
.profil-header{
    display: inline-block;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    color: white !important;
}
.profil-header:hover{
    background-color: #6c757d !important;
    
}
.profil-header img{
    animation: unscale 200ms ease-in-out forwards;
}
.profil-header:hover img{
    animation: scale 200ms ease-in-out forwards;
}
@keyframes scale {
    to {
      transform: scale(1.1);
    }
}
@keyframes unscale {
    from {
        transform: scale(1.1);
    }
}
.file-container{
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.file-container > input{
    margin: 4px 0px;
}
*/