.joudia-form{
    padding: 10px;
}
.joudia-form ul{
    padding-inline-start: 0;
    min-height: 50px;
    position: relative;
}
.joudia-form ul li{
    list-style-type: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 5px -10px;
}
.joudia-form input{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.joudia-form input:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.joudia-form img{
    max-width: 100%;
}
.joudia-btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}
.joudia-btn:focus{
    outline: 0;
}
.joudia-btn-block{
    width: 100%;
}
.joudia-btn-success{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.joudia-btn-success:hover{
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}
.joudia-btn-success:focus{
    box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
}
.joudia-btn-success:active{
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430;
}
.joudia-btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.joudia-btn-primary:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
.joudia-btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.5);
}
.joudia-btn-primary:active{
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}
.joudia-btn-danger{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
.joudia-btn-danger:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}
.joudia-btn-danger:focus{
    box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
}
.joudia-btn-danger:active{
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d;
}
.joudia-btn-warning{
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}
.joudia-btn-warning:hover{
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}
.joudia-btn-warning:focus{
    box-shadow: 0 0 0 0.2rem rgba(255,193,7,.5);
}
.joudia-btn-warning:active{
    color: #fff;
    background-color: #d39e00;
    border-color: #c69500;
}
.joudia-btn-info{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.joudia-btn-info:hover{
    color: #fff;
    background-color: #138496;
    border-color: #117a8b;
}
.joudia-btn-info:focus{
    box-shadow: 0 0 0 0.2rem rgba(23,162,184,.5);
}
.joudia-btn-info:active{
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f;
}
.joudia-col-1, .joudia-col-2, .joudia-col-3, .joudia-col-4, .joudia-col-5, .joudia-col-6, .joudia-col-7, .joudia-col-8, .joudia-col-9, .joudia-col-10, .joudia-col-11, .joudia-col-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.joudia-col-1{
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.joudia-col-2{
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.joudia-col-3{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.joudia-col-4{
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.joudia-col-5{
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}
.joudia-col-6{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.joudia-col-7{
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.joudia-col-8{
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.joudia-col-9{
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}
.joudia-col-10{
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.joudia-col-11{
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}
.joudia-col-12{
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.joudia-sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}